backend/crawling_test/*
backend/.env
frontend/.env
backend/accepted_files/*
!backend/accepted_files/.gitignore
backend/rejected_files/*
!backend/rejected_files/.gitignore
backend/manual_deleted/*
!backend/manual_deleted/.gitignore
backend/duplicated_files/*
!backend/duplicated_files/.gitignore
geckodriver.exe
backend/crawlled_files/*
backend/venv/*
backend/venv
backend\venv
geckodriver.exe
backend/__pycache__
backend/__pycache__/*
backend/pdfcrawler/__pycache__
backend/pdfcrawler/__pycache__/*
backend/pdfcrawler/crawler/__pycache__/*
